<style>
  .description {
    width: 25%;
    font-family: Lato;
    margin: 10px 0 0 0;
    text-align: center;
  }

  .description1 {
    width: 25%;
    font-family: Lato;
    margin: 10px 0 0 0;
    text-align: center;
  }
</style>

<h1 style="margin-left: 20%">Welcome User!</h1>
<span style="margin-left: 20%">Countdown to 31st December 2022!</span>

<div style="max-width: 300px; margin: 0 auto">
  <div style="display: flex">
    <p class="description1">Days |</p>
    <p class="description1">Hours |</p>
    <p class="description1">Minutes |</p>
    <p class="description1">Seconds</p>
  </div>
  <div style="display: flex; font-size: 22px">
    <p id="days" class="description"></p>
    <p id="hours" class="description"></p>
    <p id="mins" class="description"></p>
    <p id="seconds" class="description"></p>
  </div>
</div>
